#main-nav{

  .navbar{
    padding-top: 40px;
    max-width: 980px;
    margin: auto;
    background-color: $page-bg;

    hr{
      margin: 0 20px 10px;
      border: 0;
      border-top: 1px solid rgba(255, 255, 255, 0.29);
    }
  }

  .navbar-inner{
    border-radius: 0;
    height: 44px;

    .container{
      padding-left: 20px;
      background-color: rgba(255, 255, 255, 0.1);
      margin: 2px;
      height: 22px;
      position: absolute;
      right: 0;
      left: 0;
      width: auto;
    }

    .brand{
      color: #fff;
      padding: 0 10px;
    }

  }

  .nav-lev2{
    background-color: $c1;
  }


  .nav-btn{
    position: relative;

    a{
      color: #ffffff !important;
    }

    height: 41px;

    span{
      position: absolute;
      margin: 2px;
      height: 20px;
      background-color: rgba(255, 255, 255, 0.3);
      top: 0;
      left: 0;
      right: 0;

    }
  }

  .nav-btn-1{
    @include nav-hover-color($c1);
  }

  .nav-btn-2{
    @include nav-hover-color($c2);
  }

  .nav-btn-3{
    @include nav-hover-color($c3);
  }

  .nav-btn-4{
    @include nav-hover-color($c4);
  }

  .navActive{
    span{
      height: auto;
      bottom: 0;
    }
  }

  .sub-menu{
    padding-left: 20px;
  }

  a{
    padding: 0;
  }

  li{
    padding: 10px 20px;

  }
}

.edge-1{
  @include edge-hover-color($c1);
}

.edge-2{
  @include edge-hover-color($c2);
}

.edge-3{
  @include edge-hover-color($c3);
}

.edge-4{
  @include edge-hover-color($c4);
}

.edgeOver{
  opacity: 1;
}

.edgeActive{
  opacity: 1;
}




//@include nav-hover-color($c1);
//
//@mixin nav-hover-color($color){
//  i {
//    background-color: $color;
//  }
//
//  &:hover {
//    background-color: $color;
//    a, h1 {
//      color: #ffffff;
//    }
//  }
//}


//.nav{
//  .extruder-wrap-nav{
//    z-index: auto;
//    position: absolute;
//    z-index: 1;
//    left: 0;
//    top: 42px;
//    right: 0;
//
//    @include perspective( 800px );
//    @include perspective-origin(490px 50%);
//    .extruder{
//      //background-color: $c1;
//      height: 40px;
//      @include rotateX( -60deg );
//      @include transform-origin( 0 0 0 0 );
//
//
//    }
//  }
//}


