

#products{

  header{

    img{
      margin-right: 20px;
      width: 744px;
      height: 281px;
    }

    .bg-color-c2{
      background-color: $c2;
      height: 138px;
      padding-left: 20px;
      padding-top: 35px;
    }

    .bg-color-c1{
      height: 143px;
      background-color: $c1;
      padding-left: 20px;
      padding-top: 35px;
    }
  }

  article{
    padding: 40px 20px;

  }

  section{

    img{
      width: 300px;
      height: 400px;
    }
  }
}

