#sales {

  header{

    img{
      //margin-right: 20px;
      width: 744px;
      height: 281px;
      position: relative;
      z-index: 1;
      border-left: 4px solid #000000;
    }

    .dates{

      h4{
        font-weight: 200;
        font-size: 30px;
        line-height: 37px;
        margin: 0;
      }



      position: relative;
      background-color: #000000;
      height: 141px;
      padding-left: 20px;
      padding-top: 38px;


      span{
        position: absolute;
        margin: 4px;
        height: 50%;
        background-color: rgba(255, 255, 255, 0.3);
        top: 0;
        left: 0;
        right: 0;
      }
    }
  }

  article {
    padding: 40px 20px;
  }

  section {

    img {
      width: 300px;
      height: 184px;
    }
  }

  #sales-list{
    //@include perspective( 800px );
    //@include perspective-origin(50% 50%);
    padding: 0;

    li{
      @include perspective( 800px );
      @include perspective-origin(50% 50%);
    }
  }


  .sale-popup {

    @include transition-property(all);
    @include transition-duration(.5s);
    @include transition-timing-function(ease-out);

    //transition: opacity 1s ease-in;

    z-index: 1010;
    @include box-shadow(black 0px 0px 50px);
    position: absolute;
    width: 370px;
    //opacity: 0;

    header {
      padding: 20px;
      background-color: $c1;

      span {
        color: #949494;
      }

      .timeago {
        color: #d2d2d2;
      }

    }

    section {
      padding: 20px;
      background-color: #ffffff;
      color: $c1;
    }

  }

  //.progress-wrapper {
  //  padding: 30%;
  //}
}

//.init-thumb{
  //-webkit-transform: scale(0);
  //@include rotateY( 60deg );

  //.thumb{
  //  @include scale( .5,.5 );
  //}
  //@include scale( 0,0 );
//}