@import "base.scss";
@import "mixin.scss";
@import "home.scss";
@import "sales.scss";
@import "products.scss";
@import "product.scss";
@import "hero.scss";
@import "nav.scss";



.main-content{
  //background-color: $c2;
  color: rgb(238, 238, 238);
  margin-top: 200px;
  //min-height: 800px !important;
  position: relative;
  width: 980px;
}

footer{
  background-color: $c1;
  height: 50px;
  max-width: 940px;
  margin: auto;
}

.viewer{
  opacity: 0;
  display: block;
  position:absolute ;
}

.extruder-wrap{
  @include perspective( 800px );
  @include perspective-origin(50% 50%);
  padding-bottom: 1px;

  .extruder{
    background-color: #595D62;
    height: 40px;
    @include rotateX( -60deg );
    @include transform-origin( 0 0 0 0 );

    .navbar-inner{
      background: none;
      margin-left: 22px;
    }
  }
}



.thumb {

  margin: .5px;
  overflow: hidden;
  position: relative;

  &:hover {

    legend {
      display: block;
      bottom: -1px;
    }

  }

  legend {

    @include transition-property(all);
    @include transition-duration(.2s);
    @include transition-timing-function(ease-out);


    margin: 0;
    bottom: -50px;
    position: absolute;

    h5 {
      position: absolute;
      top: 5px;
      text-align: center;
      text-shadow: 0 0 3px rgba(0, 0, 0, .75);
      color: #ffffff;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
      overflow: hidden;
      margin-left: 10px;
      padding-right: 20px;

    }

    .gradient {
      opacity: 1;
      width: 100% !important;
      height: 50px !important;
    }

  }

}



