@import "base.scss";

*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  padding-top: 40px;
}

.thumbnails{
  margin-left: 0px;
}

.thumbnails > li {
  margin: 0;
  float: left;
}

.thumbnail{
  border: none;
  padding: 0;
}

.product-preview-bg{
  width: 300px;
  height: 184px;
  overflow: hidden;

  &:hover{

    legend{
      display: block;
    }

  }


  legend{

    display: none;

    bottom: 40px;
    position: relative;

    h5{
      position: absolute;
      top: 0;
      text-align: center;
      text-shadow: 0 0 3px rgba(0, 0, 0, .75);
      color: #ffffff;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
      overflow: hidden;
      margin-left: 10px;
      padding-right: 20px;

    }

    .product-preview-gradient{
      width: 100%;
      height: 40px;
    }


  }


}

.product-detail{

  @include box-shadow(black 0px 0px 50px);
  position: absolute;
  width: 370px;

  h4{
    color: #ffffff;
  }

}

.progress-wrapper{
  padding: 30%;
}

.product-detail-title-bg{
  padding: 20px;
  //background-color: #2c538b;
  background-color: #373737;

  span{
    color: #949494;
  }

  .timeago{
    color: #d2d2d2;
  }

}

.product-detail-bg{
  padding: 20px;
  background-color: #ffffff;
}




  //.arrow-up {
  //  width: 0;
  //  height: 0;
  //  border-left: 20px solid transparent;
  //  border-right: 20px solid transparent;
  //
  //  border-bottom: 20px solid black;
  //}
  //
  //.arrow-down {
  //  width: 0;
  //  height: 0;
  //  border-left: 20px solid transparent;
  //  border-right: 20px solid transparent;
  //
  //  border-top: 20px solid black;
  //}

  .arrow-right-w {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #ffffff;
  }

  .arrow-left-w {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right:20px solid #ffffff;
  }

.arrow-right-b {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #373737;
}

.arrow-left-b {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right:20px solid #373737;
}




//a.thumbnail:hover {
//  border-color: #0088cc;
//  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
//  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
//  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
//}