/* line 8, ../sass/base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 20, ../sass/base.scss */
html, body {
  background-color: #969696;
  height: 100%;
}

/* line 25, ../sass/base.scss */
img {
  opacity: 0;
  border: null;
  background-color: rgba(255, 255, 255, 0.2);
}

/* line 31, ../sass/base.scss */
.navbar {
  max-width: 940px;
  margin: auto;
}

/* line 36, ../sass/base.scss */
.navbar-inner {
  border-radius: 0;
}
/* line 39, ../sass/base.scss */
.navbar-inner .container {
  padding-left: 20px;
}

/* line 45, ../sass/base.scss */
.nav-lev2 {
  background-color: #1c1d22;
}

/* line 51, ../sass/base.scss */
.thumbnails {
  margin-left: 0px;
  padding-left: 19px;
  padding-bottom: 20px;
}
/* line 57, ../sass/base.scss */
.thumbnails > li {
  margin: 0;
  float: left;
}

/* line 63, ../sass/base.scss */
.thumbnail {
  border: none;
  padding: 0;
}

/* line 86, ../sass/base.scss */
.arrow-right-w {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #ffffff;
}

/* line 95, ../sass/base.scss */
.arrow-left-w {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #ffffff;
}

/* line 104, ../sass/base.scss */
.arrow-right-b {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #1C1D22;
}

/* line 113, ../sass/base.scss */
.arrow-left-b {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #1C1D22;
}
