/* line 5, ../sass/hero.scss */
#hero-shot header img {
  width: 744px;
  height: 281px;
  position: relative;
  z-index: 1;
  border-left: 4px solid #000000;
}
/* line 14, ../sass/hero.scss */
#hero-shot header .dates {
  position: relative;
  background-color: #000000;
  height: 141px;
  padding-left: 32px;
  padding-top: 53px;
}
/* line 16, ../sass/hero.scss */
#hero-shot header .dates h4 {
  font-weight: 200;
  font-size: 30px;
  line-height: 37px;
  margin: 0;
}
/* line 30, ../sass/hero.scss */
#hero-shot header .dates span {
  position: absolute;
  margin: 4px;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  top: 0;
  left: 0;
  right: 0;
}
/* line 42, ../sass/hero.scss */
#hero-shot article {
  padding: 40px 20px;
}
