/* line 8, /Users/separ8/Sites/gilt/sass/base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 16, /Users/separ8/Sites/gilt/sass/base.scss */
html, body {
  background-color: #969696;
  height: 100%;
}

/* line 21, /Users/separ8/Sites/gilt/sass/base.scss */
img {
  opacity: 0;
  border: null;
  background-color: rgba(255, 255, 255, 0.2);
}

/* line 27, /Users/separ8/Sites/gilt/sass/base.scss */
.navbar {
  max-width: 940px;
  margin: auto;
}

/* line 32, /Users/separ8/Sites/gilt/sass/base.scss */
.navbar-inner {
  border-radius: 0;
}
/* line 35, /Users/separ8/Sites/gilt/sass/base.scss */
.navbar-inner .container {
  padding-left: 20px;
}

/* line 41, /Users/separ8/Sites/gilt/sass/base.scss */
.nav-lev2 {
  background-color: #1c1d22;
}

/* line 47, /Users/separ8/Sites/gilt/sass/base.scss */
.thumbnails {
  margin-left: 0px;
  padding-left: 19px;
  padding-bottom: 20px;
}
/* line 53, /Users/separ8/Sites/gilt/sass/base.scss */
.thumbnails > li {
  margin: 0;
  float: left;
}

/* line 59, /Users/separ8/Sites/gilt/sass/base.scss */
.thumbnail {
  border: none;
  padding: 0;
}

/* line 82, /Users/separ8/Sites/gilt/sass/base.scss */
.arrow-right-w {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #ffffff;
}

/* line 91, /Users/separ8/Sites/gilt/sass/base.scss */
.arrow-left-w {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #ffffff;
}

/* line 100, /Users/separ8/Sites/gilt/sass/base.scss */
.arrow-right-b {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #1C1D22;
}

/* line 109, /Users/separ8/Sites/gilt/sass/base.scss */
.arrow-left-b {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #1C1D22;
}

/* line 3, /Users/separ8/Sites/gilt/sass/home.scss */
#home article {
  padding: 40px 20px;
}

/* line 3, /Users/separ8/Sites/gilt/sass/sales.scss */
#sales article {
  padding: 20px;
}
/* line 9, /Users/separ8/Sites/gilt/sass/sales.scss */
#sales section img {
  width: 300px;
  height: 184px;
}
/* line 18, /Users/separ8/Sites/gilt/sass/sales.scss */
#sales #sales-list li {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
/* line 25, /Users/separ8/Sites/gilt/sass/sales.scss */
#sales .sale-popup {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  z-index: 1010;
  -webkit-box-shadow: black 0px 0px 50px;
  -moz-box-shadow: black 0px 0px 50px;
  box-shadow: black 0px 0px 50px;
  position: absolute;
  width: 370px;
}
/* line 39, /Users/separ8/Sites/gilt/sass/sales.scss */
#sales .sale-popup header {
  padding: 20px;
  background-color: #1c1d22;
}
/* line 43, /Users/separ8/Sites/gilt/sass/sales.scss */
#sales .sale-popup header span {
  color: #949494;
}
/* line 47, /Users/separ8/Sites/gilt/sass/sales.scss */
#sales .sale-popup header .timeago {
  color: #d2d2d2;
}
/* line 53, /Users/separ8/Sites/gilt/sass/sales.scss */
#sales .sale-popup section {
  padding: 20px;
  background-color: #ffffff;
  color: #1c1d22;
}

/* line 7, /Users/separ8/Sites/gilt/sass/products.scss */
#products header img {
  margin-right: 20px;
  width: 744px;
  height: 281px;
}
/* line 13, /Users/separ8/Sites/gilt/sass/products.scss */
#products header .bg-color-c2 {
  background-color: #2a2d34;
  height: 138px;
  padding-left: 20px;
  padding-top: 35px;
}
/* line 20, /Users/separ8/Sites/gilt/sass/products.scss */
#products header .bg-color-c1 {
  height: 143px;
  background-color: #1c1d22;
  padding-left: 20px;
  padding-top: 35px;
}
/* line 28, /Users/separ8/Sites/gilt/sass/products.scss */
#products article {
  padding: 40px 20px;
}
/* line 35, /Users/separ8/Sites/gilt/sass/products.scss */
#products section img {
  width: 300px;
  height: 400px;
}

/* line 1, /Users/separ8/Sites/gilt/sass/product.scss */
#product {
  padding-bottom: 20px;
}
/* line 5, /Users/separ8/Sites/gilt/sass/product.scss */
#product article {
  padding-top: 0;
  padding-left: 20px;
  padding-bottom: 20px;
}
/* line 11, /Users/separ8/Sites/gilt/sass/product.scss */
#product img {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 420px !important;
  height: 560px !important;
}
/* line 19, /Users/separ8/Sites/gilt/sass/product.scss */
#product hr {
  border-top: 1px solid rgba(238, 238, 238, 0.32);
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
/* line 24, /Users/separ8/Sites/gilt/sass/product.scss */
#product .btn {
  margin-top: 20px;
}

/* line 8, ../sass/screen.scss */
.main-content {
  background-color: #2a2d34;
  color: #ffffff;
  margin-top: 82px;
  min-height: 800px !important;
  position: relative;
}

/* line 16, ../sass/screen.scss */
footer {
  background-color: #1c1d22;
  height: 50px;
  max-width: 940px;
  margin: auto;
}

/* line 23, ../sass/screen.scss */
.viewer {
  opacity: 0;
  display: block;
  position: absolute;
}

/* line 35, ../sass/screen.scss */
.thumb {
  margin: .5px;
  overflow: hidden;
  position: relative;
}
/* line 43, ../sass/screen.scss */
.thumb:hover legend {
  display: block;
  bottom: -1px;
}
/* line 50, ../sass/screen.scss */
.thumb legend {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0;
  bottom: -50px;
  position: absolute;
}
/* line 61, ../sass/screen.scss */
.thumb legend h5 {
  position: absolute;
  top: 5px;
  text-align: center;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  margin-left: 10px;
  padding-right: 20px;
}
/* line 76, ../sass/screen.scss */
.thumb legend .gradient {
  opacity: 1;
  width: 100% !important;
  height: 50px !important;
}
