/* line 11, ../sass/base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 18, ../sass/base.scss */
html, body {
  background-color: #2a2d34;
  height: 100%;
}

/* line 23, ../sass/base.scss */
img {
  opacity: 0;
  border: null;
  background-color: rgba(255, 255, 255, 0.2);
}

/* line 29, ../sass/base.scss */
h1 {
  font-weight: 200;
  color: #ffffff;
}

/* line 34, ../sass/base.scss */
.thumbnails {
  margin-left: -16px;
}

/* line 92, ../sass/base.scss */
.arrow-right-w {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #ffffff;
}

/* line 101, ../sass/base.scss */
.arrow-left-w {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #ffffff;
}

/* line 110, ../sass/base.scss */
.arrow-right-b {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #1C1D22;
}

/* line 119, ../sass/base.scss */
.arrow-left-b {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #1C1D22;
}

/* line 3, ../sass/home.scss */
#home article {
  padding: 40px 20px;
}

/* line 6, ../sass/sales.scss */
#sales section img {
  width: 300px;
  height: 184px;
}
/* line 12, ../sass/sales.scss */
#sales #sales-list {
  padding: 0;
}
/* line 17, ../sass/sales.scss */
#sales #sales-list li {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
/* line 24, ../sass/sales.scss */
#sales .sale-popup {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  z-index: 1010;
  -webkit-box-shadow: black 0px 0px 50px;
  -moz-box-shadow: black 0px 0px 50px;
  box-shadow: black 0px 0px 50px;
  position: absolute;
  width: 370px;
}
/* line 38, ../sass/sales.scss */
#sales .sale-popup header {
  padding: 20px;
  background-color: #d96666;
}
/* line 42, ../sass/sales.scss */
#sales .sale-popup header span {
  color: #949494;
}
/* line 46, ../sass/sales.scss */
#sales .sale-popup header .timeago {
  color: #d2d2d2;
}
/* line 52, ../sass/sales.scss */
#sales .sale-popup section {
  padding: 20px;
  background-color: #ffffff;
  color: #d96666;
}

/* line 7, ../sass/products.scss */
#products section img {
  width: 300px;
  height: 400px;
}
/* line 13, ../sass/products.scss */
#products .sold-out {
  padding-left: 20px;
}

/* line 1, ../sass/product.scss */
#product {
  padding-bottom: 20px;
}
/* line 5, ../sass/product.scss */
#product article {
  padding-top: 0;
  padding-left: 20px;
  padding-bottom: 20px;
}
/* line 11, ../sass/product.scss */
#product .img-wrap {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
/* line 19, ../sass/product.scss */
#product img {
  width: 420px !important;
  height: 560px !important;
}
/* line 24, ../sass/product.scss */
#product hr {
  border-top: 1px solid rgba(238, 238, 238, 0.32);
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
/* line 29, ../sass/product.scss */
#product .btn {
  margin-top: 20px;
}

/* line 6, ../sass/hero.scss */
#hero-shot .hero-wrap:hover .extruder-wrap .extruder-women {
  background-color: #d96666 !important;
}
/* line 9, ../sass/hero.scss */
#hero-shot .hero-wrap:hover .extruder-wrap .extruder-men {
  background-color: #d98032 !important;
}
/* line 12, ../sass/hero.scss */
#hero-shot .hero-wrap:hover .extruder-wrap .extruder-kids {
  background-color: #f2a950 !important;
}
/* line 15, ../sass/hero.scss */
#hero-shot .hero-wrap:hover .extruder-wrap .extruder-home {
  background-color: #736c48 !important;
}
/* line 23, ../sass/hero.scss */
#hero-shot a {
  text-decoration: none;
}
/* line 29, ../sass/hero.scss */
#hero-shot header img {
  width: 744px;
  height: 281px;
  position: relative;
  z-index: 1;
  border-left: 4px solid #000000;
}
/* line 38, ../sass/hero.scss */
#hero-shot header .dates {
  position: relative;
  background-color: #000000;
  height: 141px;
  padding-left: 32px;
  padding-top: 53px;
}
/* line 40, ../sass/hero.scss */
#hero-shot header .dates h4 {
  font-weight: 200;
  font-size: 30px;
  line-height: 37px;
  margin: 0;
  color: #ffffff;
}
/* line 55, ../sass/hero.scss */
#hero-shot header .dates span {
  position: absolute;
  margin: 4px;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  top: 0;
  left: 0;
  right: 0;
}
/* line 67, ../sass/hero.scss */
#hero-shot article {
  padding: 40px 20px;
}

/* line 1, ../sass/nav.scss */
#main-nav {
  height: 176px;
  background-color: #2a2d34;
  position: fixed;
  z-index: 1030;
  left: 0;
  right: 0;
  top: 0;
}
/* line 11, ../sass/nav.scss */
#main-nav .navbar {
  padding-top: 40px;
  max-width: 980px;
  margin: auto;
}
/* line 17, ../sass/nav.scss */
#main-nav .navbar hr {
  margin: 0 20px 10px;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.29);
}
/* line 24, ../sass/nav.scss */
#main-nav .navbar-inner {
  border-radius: 0;
  height: 44px;
}
/* line 28, ../sass/nav.scss */
#main-nav .navbar-inner .container {
  padding-left: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 2px;
  height: 22px;
  position: absolute;
  right: 0;
  left: 0;
  width: auto;
}
/* line 39, ../sass/nav.scss */
#main-nav .navbar-inner .brand {
  color: #fff;
  padding: 0 10px;
}
/* line 46, ../sass/nav.scss */
#main-nav .nav-lev2 {
  background-color: #d96666;
}
/* line 51, ../sass/nav.scss */
#main-nav .nav-btn {
  position: relative;
  height: 41px;
}
/* line 54, ../sass/nav.scss */
#main-nav .nav-btn a {
  color: #ffffff !important;
}
/* line 60, ../sass/nav.scss */
#main-nav .nav-btn span {
  position: absolute;
  margin: 2px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  top: 0;
  left: 0;
  right: 0;
}
/* line 72, ../sass/nav.scss */
#main-nav .nav-btn-1 {
  background-color: #d96666;
}
/* line 4, ../sass/mixin.scss */
#main-nav .nav-btn-1:hover span {
  height: auto;
  bottom: 0;
}
/* line 76, ../sass/nav.scss */
#main-nav .nav-btn-2 {
  background-color: #d98032;
}
/* line 4, ../sass/mixin.scss */
#main-nav .nav-btn-2:hover span {
  height: auto;
  bottom: 0;
}
/* line 80, ../sass/nav.scss */
#main-nav .nav-btn-3 {
  background-color: #f2a950;
}
/* line 4, ../sass/mixin.scss */
#main-nav .nav-btn-3:hover span {
  height: auto;
  bottom: 0;
}
/* line 84, ../sass/nav.scss */
#main-nav .nav-btn-4 {
  background-color: #736c48;
}
/* line 4, ../sass/mixin.scss */
#main-nav .nav-btn-4:hover span {
  height: auto;
  bottom: 0;
}
/* line 89, ../sass/nav.scss */
#main-nav .nav-active span {
  height: auto;
  bottom: 0;
}
/* line 95, ../sass/nav.scss */
#main-nav .sub-menu {
  padding-left: 20px;
}
/* line 99, ../sass/nav.scss */
#main-nav a {
  padding: 0;
}
/* line 103, ../sass/nav.scss */
#main-nav li {
  padding: 10px 20px;
}

/* line 109, ../sass/nav.scss */
.edge-1 {
  background-color: #d96666;
  opacity: 0;
}

/* line 113, ../sass/nav.scss */
.edge-2 {
  background-color: #d98032;
  opacity: 0;
}

/* line 117, ../sass/nav.scss */
.edge-3 {
  background-color: #f2a950;
  opacity: 0;
}

/* line 121, ../sass/nav.scss */
.edge-4 {
  background-color: #736c48;
  opacity: 0;
}

/* line 125, ../sass/nav.scss */
.edge-over {
  opacity: 1;
}

/* line 129, ../sass/nav.scss */
.edge-active {
  opacity: 1;
}

/* line 10, ../sass/screen.scss */
.main-content {
  color: #eeeeee;
  margin-top: 200px;
  position: relative;
  width: 980px;
}

/* line 19, ../sass/screen.scss */
footer {
  background-color: #d96666;
  height: 50px;
  max-width: 940px;
  margin: auto;
}

/* line 26, ../sass/screen.scss */
.viewer {
  opacity: 0;
  display: block;
  position: absolute;
}

/* line 40, ../sass/screen.scss */
.thumb-wrap:hover .thumb .thumbnail-women {
  border-color: #d96666;
}
/* line 44, ../sass/screen.scss */
.thumb-wrap:hover .thumb .thumbnail-men {
  border-color: #d98032;
}
/* line 48, ../sass/screen.scss */
.thumb-wrap:hover .thumb .thumbnail-kids {
  border-color: #f2a950;
}
/* line 52, ../sass/screen.scss */
.thumb-wrap:hover .thumb .thumbnail-home {
  border-color: #736c48;
}
/* line 56, ../sass/screen.scss */
.thumb-wrap:hover .thumb legend {
  display: block;
  bottom: -1px;
}
/* line 63, ../sass/screen.scss */
.thumb-wrap:hover .extruder-wrap .extruder-women {
  background-color: #d96666 !important;
}
/* line 66, ../sass/screen.scss */
.thumb-wrap:hover .extruder-wrap .extruder-men {
  background-color: #d98032 !important;
}
/* line 69, ../sass/screen.scss */
.thumb-wrap:hover .extruder-wrap .extruder-kids {
  background-color: #f2a950 !important;
}
/* line 72, ../sass/screen.scss */
.thumb-wrap:hover .extruder-wrap .extruder-home {
  background-color: #736c48 !important;
}
/* line 78, ../sass/screen.scss */
.thumb-wrap .thumb {
  margin: .5px;
  overflow: hidden;
  position: relative;
}
/* line 84, ../sass/screen.scss */
.thumb-wrap .thumb legend {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  padding: 4px;
  margin: 0;
  bottom: -55px;
  position: absolute;
}
/* line 96, ../sass/screen.scss */
.thumb-wrap .thumb legend h5 {
  position: absolute;
  top: 5px;
  text-align: center;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  margin-left: 10px;
  padding-right: 20px;
}
/* line 111, ../sass/screen.scss */
.thumb-wrap .thumb legend .gradient {
  opacity: 1;
  width: 100% !important;
  height: 50px !important;
}

/* line 122, ../sass/screen.scss */
.extruder-wrap {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  padding-bottom: 1px;
}
/* line 127, ../sass/screen.scss */
.extruder-wrap .extruder {
  background-color: #595D62;
  height: 40px;
  -webkit-transform: rotateX(-60deg);
  -moz-transform: rotateX(-60deg);
  -ms-transform: rotateX(-60deg);
  -o-transform: rotateX(-60deg);
  transform: rotateX(-60deg);
  -webkit-transform-origin: 0 0 0 0 50%;
  -moz-transform-origin: 0 0 0 0 50%;
  -ms-transform-origin: 0 0 0 0 50%;
  -o-transform-origin: 0 0 0 0 50%;
  transform-origin: 0 0 0 0 50%;
}
/* line 133, ../sass/screen.scss */
.extruder-wrap .extruder .navbar-inner {
  background: none;
  margin-left: 22px;
}
