<li>
    <div class="product-preview-bg">
        <a class="thumbnail" >
            <img src="{{data.image_urls.420x560[0].url}}"/>
        </a>
        <legend>
            <img src="assets/img/gradient.png" class="product-preview-gradient">
            <h5>{{data.name}}</h5>
        </legend>
        <!--<div class="progress-wrapper">-->
            <!--<div class="progress progress-striped active">-->
                <!--<div class="bar" style="width: 100%"></div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</li>