<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Gilt</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="#/sale/women">Women</a></li>
                    <li><a href="#/sale/men">Men</a></li>
                    <li><a href="#/sale/kids">Kids & Babies</a></li>
                    <li><a href="#/sale/home">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>