<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#/">Gilt</a>
            <ul class="nav">
                <li><a class="nav-btn nav-btn-1" href="#/sale/women">Women<span></span></a></li>
                <li><a class="nav-btn nav-btn-2" href="#/sale/men">Men<span></span></a></li>
                <li><a class="nav-btn nav-btn-3" href="#/sale/kids">Kids & Babies<span></span></a></li>
                <li><a class="nav-btn nav-btn-4" href="#/sale/home">Home<span></span></a></li>
            </ul>
        </div>
    </div>
    <div class="extruder-wrap">
        <div class="extruder"></div>
    </div>
    <div class="sub-menu">
        <a class="brand">Brett Coffin</a>
        <ul class="nav">
            <li><a>Shopping Cart</a></li>
            <li><a>Grid</a></li>
            <li><a>List</a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <hr>
</div>