<div id="products">

    <header>
        <img src="{{data.image_urls.744x281[0].url}}" class="pull-right"
             img-fade-in/>
        <div class="bg-color-c2">
            <p>Begins:</p>
            <h3 class="timeago" title="{{data.begins | date:medium}}">{{data.begins | date:medium}}</h3>
        </div>
        <div class="bg-color-c1">
            <p>Ends:</p>
            <h3 class="timeago" title="{{data.ends | date:medium}}">{{data.ends | date:medium}}</h3>
        </div>
    </header>

    <article>
        <h1>{{data.name}}</h1>
        <p>{{data.description}}</p>
        <p ng-show="isSoldOut">SOLD OUT</p>
    </article>

    <section set-height-from="products-height-target">
        <ul class="thumbnails" id="products-height-target">
            <product-thumb ng-repeat="item in data.products | limitTo:9"></product-thumb>
        </ul>
    </section>

</div>
