<div id="sales">
    <header>
        <img src="{{item.image_urls.744x281[0].url}}" class="pull-right"
             img-fade-in/>
        <div class="dates begins">
            <!--<p>Begins:</p>-->
            <h4 class="timeago">{{item.begins | date:short}}</h4>
            <span></span>
        </div>
        <div class="dates ends">
            <!--<p>Ends:</p>-->
            <h4 class="timeago">{{item.ends | date:short}}</h4>
            <span></span>
        </div>
    </header>
    <div class="extruder-wrap">
        <div class="extruder"></div>
    </div>
    <article>
        <h1>{{item.name}}</h1>
        <p>{{item.description}}</p>
    </article>
    <section set-height-from="sales-list" ng-cloak>
        <ul id="sales-list" class="thumbnails">
            <li ng-repeat="s in data.sales">
                <sale-thumb></sale-thumb>
            </li>
        </ul>
    </section>
</div>
