    <div class="sale-preview-bg">

        <!--<div> this is root-->
        <!--<sale-detail ng-show="isOpen"></sale-detail>-->
        <!--</div>-->

        <a href="#/sale/{{MainModel.saleType}}/product/{{s.sale | cleanURL}}" class="thumbnail" >
            <img src="{{s.image_urls.300x184[0].url}}" width="300" height="184" img-fade-in/>
        </a>
        <legend>
            <img src="assets/img/gradient.png" class="sale-preview-gradient">
            <h5>{{s.name}}</h5>
        </legend>
        <!--<div class="progress-wrapper">-->
            <!--<div class="progress progress-striped active">-->
                <!--<div class="bar" style="width: 100%"></div>-->
            <!--</div>-->
        <!--</div>-->
    </div>


