
<ul class="thumbnails">
    <sale-preview ng-repeat="s in data.sales"></sale-preview>
    <!--<h3><a href="{{s.sale}}?apikey=88658e0b728c695d6145ffde625f01f6">{{s.name}}</a></h3>-->
    <!--<p>{{s.description}}.</p>-->
    <!--<p>Begins:  <abbr class="timeago" title="{{s.begins | date:medium}}">{{s.begins | date:medium}}</abbr></p>-->
    <!--<p>Ends: <abbr class="timeago" title="{{s.ends | date:medium}}">{{s.ends | date:medium}}</abbr></p>-->
    <!--<div>-->
        <!--<a class="btn" href="{{s.sale}}?apikey=88658e0b728c695d6145ffde625f01f6">Buy {{s.name}}</a>-->
    <!--</div>-->
</ul>