<div class="thumb-wrap">
    <a href="#/sale/{{MainModel.saleType}}/product/{{s.sale | cleanURL}}">
    <div class="thumb">
        <div class="thumbnail" ng-class="MainModel.thumbnailAccent()">
            <img src="{{s.image_urls.300x184[0].url}}" img-fade-in/>
        </div>
        <legend>
            <img src="assets/img/gradient.png" class="gradient">
            <h5>{{s.name}}</h5>
        </legend>
    </div>
    <!--<sale-popup ng-show="isOpen"></sale-popup>-->
    <div class="extruder-wrap">
        <div class="extruder" ng-class="MainModel.extruderAccent()"></div>
    </div>
    </a>
</div>

